.filter_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

.search_header input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.207);
  width: 150px;
  margin-right: 5px;
}

.filter_buttons {
  padding-right: 300px;
  padding-left: 300px;
  padding-bottom: 10px;
}

.filter_buttons_level {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.filter_buttons_content {
  display: flex;
  gap: 5px;
}
